.TituloDoProduto, .PrecoDoProduto {
    color: #464646;
}

.BotaoVerProduto{
    color: #2A7AE4;
    border: none;
    text-decoration: none;
}

.CardDoProduto{
    flex-direction: column;
    background-color: #E5E5E5;
    margin: 0 auto;
}

@media (max-width: 900px){
    .CardDoProduto{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
    }
}

