.produtos {
    padding: 0 6vw 3.625rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -2.5rem;
}

h1 {
    padding-left: 10px;
}

.BotaoVerTudo{
    color: #2A7AE4;
    border: none;
    background-color: #E5E5E5;
    text-decoration: none;
    
}

.Temas {
    font-weight: bold;    
}
 
.LinhaProduto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.TodasAsSessoes {
    background-color: #E5E5E5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: #464646;
    /* margin: 0 auto;     */
}

.IconeSetinha {
   padding-left: 10px;
}

.StarWars {
    padding-left: 0px;
}

.Consoles {
    display: flex;
}

.Diversos {
    display: flex;
}

.LinhaSessaoBotao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px; */
   
}

.AlinhaItens{
    width: 100%;
    text-align: left;
}

@media (max-width: 900px) {
    .produtos {
        margin-top: 0;
        padding: 2rem 1.5rem 3.625rem;
    }
    .LinhaSessaoBotao{
        gap: 250px;
    }
    .AlinhaItens{
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
}
 
@media (min-width: 744px) {
    .produtos {
        padding: 2rem 1rem 3rem;
    }
    .Temas {
        padding-left: 90px;
        padding-top: 50px;   
    }
    .LinhaSessaoBotao{
         gap: 1100px;
    }

    .StarWars{
        gap: 1rem; 
        display: flex;
        flex-direction: row;
    }

    .BotaoVerTudo{
        margin-top: 50px;
        margin-left: 200px;
    }
}
/* 
import styled from 'styled-components'

export const CategorySectionStyle = styled.section`
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
    align-items: flex-start;
`

export const List = styled.div`
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        gap: 32px;
        justify-content: flex-start;
    }
    @media (max-width: 768px) {
        gap: 16px;
        justify-content: center;
    }
    @media (max-width: 360px) {
        gap: 8px;
        justify-content: center;
    }
` */